@import "tailwindcss";

@theme {
  --color-brand-red: #c1121f;
  --color-brand-dark-red: #780000;
  --color-brand-yellow: #fdf0d5;
  --color-brand-orange: #f77f00;
  --color-brand-dark: #003049;
  
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-brand-yellow);
    color: var(--color-brand-dark);
  }
}
